/**********/
/* Styles */
/**********/

body {
    background-color: #90be6d;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .header {
    background: #9ec581;
    margin: 5rem 0.5rem;
  }
  
  .header-h1 {
    font-size: 2rem;
  }
  
  .display-place {
    margin: 0 auto;
    height: auto;
  }
  
  .btn-search:hover {
    background-color: #1d493c;
  }

  .country-card {
    max-width: 25rem;
  }
  
  /***************/
  /* Media query */
  /***************/
  
  @media (min-width: 576px) {
    body {
      font-size: 1.4rem;
    }
  
    .page-wrapper {
      width: 500px;
      margin: auto;
    }

    .header-h1 {
      font-size: 3rem;
    }
  
    .country-card {
      width: 25rem;
    }
  }
  
